nav a.nav-link {
  font-size: 1.2rem;
  color: var(--white-color);
  font-weight: 600;
  letter-spacing: 0.2rem;
  border-radius: 2rem;
  background: transparent;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3), 2px 2px 4px rgba(0, 0, 0, 0.15);
  padding: 0.1rem 1rem;
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 5rem !important;
  z-index: 1
}

a.nav-link:hover {
  color: var(--dark) !important;
  background-color: var(--white-color)!important;

}

a.navbar-brand:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 1), 0 12px 24px rgba(0, 0, 0, 0.08);
  color: #060606 !important;
}

.navbar-brand {
  font-family: cursive, Courier, 'Courier New', monospace;
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 2rem;
  padding: 0 1rem;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3), 5px 5px 5px rgba(0, 0, 0, 0.15);
  background: var(--white-color);
}

ul {
  list-style: none;
}

li {
  cursor: pointer;
  text-decoration: none;
}