<nav class="navbar navbar-expand-lg mylight">
  <div class="container-fluid">

    <a class="navbar-brand ms-2" routerLink="home" routerLinkActive="active">Fashion Corner</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav w-100 justify-content-end gap-5 me-5">

        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="products" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Products</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="cart" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Cart</a>
        </li>

      </ul>
    </div>
  </div>
</nav>