<div id="footer" class="row">
  <ul class="contact d-flex justify-content-center gap-3 m-3 mt-4">
    <li><a href=""><i class="fa-brands fa-facebook"></i></a></li>
    <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
    <li><a href=""><i class="fa-brands fa-x-twitter"></i></a></li>
    <li><a href=""><i class="fa-brands fa-tiktok"></i></a></li>
  </ul>

  <div id="content" class="d-flex w-100 justify-content-between ms-5 me-5">
    <div class="col-md-4">
      <h5>About Us</h5>
      <p>Founded in 2024, Fashion Corner is a leading online retailer specializing in fashion-forward clothing and accessories for men and women.</p>
    </div>

    <div class="col-md-4">
      <h5 class="ms-4">Contact Us</h5>
      <ul id="contact">
        <li>Email: support&#64;yourdomain.com</li>
        <li>Phone: +1234567890</li>
        <li>Address: Your Street, City, Country</li>
      </ul>
    </div>

  </div>

  <p class="text text-center">&copy; 2024 Fashion Corner App.
    <br>All copyrights are reserved - by/ DEPI Team
  </p>
</div>