.container {
    width: 100vw
}

.carousel-inner {
    height: calc(100vh - 2rem) ;
}

.carousel-inner img {
    height: calc(100vh - 2rem);
    width: 100%
}

.carousel-indicators [data-bs-target] {
    font-size: 2rem !important;
    font-weight: 600 !important;
    color: var(--light)
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    font-size: 2rem !important;
    font-weight: 600 !important;
    color: var(--light)
}