:root {
    --dark: #200e0e;
    --brown: #6e2e1f;
    --orange: #9B3922;
    --light: #091057;
    --secondary: #f58870;
    --lighter: #f9a390;
    --white: #f8cfc6; 
    --white-color: #fff;
}

.mydark {
    background-color: var(--dark);
}

.mybrown {
    background-color: var(--brown);
}

.myorange {
    background-color: var(--orange);
}

.mylight {
    background-color: var(--light);
}

.mylighter {
    background-color: var(--lighter);
}

.mywhite {
    background-color: var(--white);
}

.secondary {
    background-color: var(--secondary);
}